<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Contact - Brand</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/css/pikaday.min.css">
</head>

<body>
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-white portfolio-navbar gradient">
        <div class="container"><a class="navbar-brand logo" href="#">Abhiram Travels</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navbarNav"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse"
                id="navbarNav">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'index' %}">Home</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'contact' %}">Contact/ Hire me</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <main class="page contact-page">
        <section class="portfolio-block contact">
            <div class="container">
                <div class="heading">
                    <h2>Contact me</h2>
                </div>
                <form method="post" action="/contact" class="contact__form">
                    {% csrf_token %}
                    <div class="form-group"><label for="name">Your Name</label>       <input class="form-control item" type="text" id="name" name="name" placeholder="Enter Name..." ></div>
                    <div class="form-group"><label for="number">Contact Number</label><input class="form-control item" type="number" id="number" name="number" placeholder="Enter Phone Number..."></div>
                    <div class="form-group"><label for="email">Email</label>          <input class="form-control item" type="email" id="email" name="email" placeholder="Enter Email..."></div>
                    <div class="form-group"><label for="message">Message</label>      <textarea class="form-control item" type="text" name="desc" id="desc" placeholder="Enter ADDRESS & DATE of picking"></textarea></div>
                    <div class="form-group"><button class="btn btn-primary btn-block btn-lg" type="submit" value="send" >Submit Form</button></div>
                </form>
            </div>
        </section>
    </main>
    {% if messages %}
            {% for message in messages %}
        <div class="alert alert- {{ message.tags }} warning alert-dismissible fade show my-0" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
            {% endfor %}
    {% endif %}
    <footer class="page-footer">
        <div class="container">
            <div class="links"><a href="#">About me</a><a href="#">Contact me</a></div>
            <div class="social-icons"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-instagram-outline"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a></div>
            <div class="links"><a  href="https://satishkandepally.epizy.com/" class="home__social-icon">Contact Developer <i class='bx bx-world' ></i></a></div>
            <p>&#169; 2021 copyright all right reserved</p>
        </div>

    </footer>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/pikaday.min.js"></script>
    <script src="assets/js/theme.js"></script>
</body>

</html>