<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - Brand</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/css/pikaday.min.css">
</head>

<body>
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-white portfolio-navbar gradient">
        <div class="container"><a class="navbar-brand logo" href="{% url 'index' %}">Abhiram Travels</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navbarNav"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse"
                id="navbarNav">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="{% url 'index' %}">Home</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'contact'%}">Contact/ Hire me</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <main class="page lanidng-page">
        <section class="portfolio-block block-intro">
            <div class="container">
                <div class="avatar" style="background-image:url(&quot;assets/img/Add%20a%20heading.png&quot;);"></div>
                <div class="about-me">
                    <p>Hello! I am the Owner of Abhiram Travels. Tours &amp; Travels, 24 hours service. All kind of vehicles available on hire.</p><a class="btn btn-outline-primary" role="button" href="{% url 'contact'%}">Hire me</a></div>
            </div>
        </section>
        <section class="portfolio-block photography">
            <div class="container">
                <div class="row no-gutters">
                    <div class="col-md-6 col-lg-4 item zoom-on-hover"><a href="#"><img class="img-fluid image" src="assets/img/27232527-maruti_dzire.jpg" style="width: 302px;"></a></div>
                    <div class="col-md-6 col-lg-4 item zoom-on-hover"><a href="#"><img class="img-fluid image" src="assets/img/9m6mjta_1496299.jpg" style="height: 226px;width: 411px;"></a></div>
                    <div class="col-md-6 col-lg-4 item zoom-on-hover"><a href="#"></a></div>
                </div>
            </div>
        </section>
        <section class="portfolio-block call-to-action border-bottom">
            <div class="container">
                <div class="d-flex justify-content-center align-items-center content">
                    <h3>Looking for cabs?</h3><button class="btn btn-outline-primary btn-lg" type="button">Hire me</button></div>
            </div>
        </section>
        <section class="portfolio-block skills">
            <div class="container">
                <div class="heading">
                    <h2>Contact&nbsp; Details</h2>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="card special-skill-item border-0">
                            <div class="card-header bg-transparent border-0"></div>
                            <div class="card-body">
                                <h3 class="card-title">Contact</h3>
                                <p class="card-text"><br>K.Rambabu<br><br>Cell: 97015 37606 93927 33346<br><br>ABHIRAM TRAVELS<br><br>Tours &amp; Travel,24 Hours Service<br><br></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card special-skill-item border-0">
                            <div class="card-header bg-transparent border-0"></div>
                            <div class="card-body">
                                <h3 class="card-title">Information</h3>
                                <p class="card-text"><br>All Kind Of Vehicles Available on Hire<br><br><br>DZIRE<br><br>INNOVIS<br><br><br></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card special-skill-item border-0">
                            <div class="card-header bg-transparent border-0"></div>
                            <div class="card-body">
                                <h3 class="card-title">Address</h3>
                                <p class="card-text"><br>H.No.: 8-2-269/5/52,Plot No: 52, Sagar Society, Road No:2,<br><br>Banjara hills, Hyderabad-500034, Email :&nbsp;<a href="mailto:rambabukandepalli@gmal.com">rambabukandepalli@gmal.com</a><br><br></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div><center><img class="col-lg-6" src="assets/img/photo1632900557.jpeg" style="width: 760px;"></center></section>
    </main>
    <footer class="page-footer">
        <div class="container">
            <div class="links"><a href="#">About me</a><a href="{% url 'contact' %}">Contact me</a></div>
            <div class="social-icons"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-instagram-outline"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a></div>
            <div class="links"><a  href="https://satishkandepally.epizy.com/" class="home__social-icon">Contact Developer <i class='bx bx-world' ></i></a></div>
            <p>&#169; 2021 copyright all right reserved</p>
        </div>
    </footer>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/pikaday.min.js"></script>
    <script src="assets/js/theme.js"></script>
</body>

</html>